body {
  background-color: darkgray;
}
div {
  margin: 200px auto;
  gap: 3px;
  text-align: center;
}
input {
  padding: 10px;
  width: 15%;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: rgba(125, 120, 120, 0.777);
  color: #fff;
}
button {
  padding: 9px 20px;
  background-color: rgb(235, 24, 67);
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
#btnbtn2 {
  padding: 3px 20px;
  margin: 10px;
}
